.mapImg {
  
}

.searchBar{
  background-color: rgb(46, 51, 53);
  color:rgb(246, 246, 255);
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: medium;
}

.submitButton {
  background-color: rgb(194, 194, 35);
  color:black;
  font-weight: 800;
  font-size: larger;
}
